h1{
    color: rgb(25, 211, 186);
    font-size: 30px;
    font-family: serif;
}

h3{
    color: rgb(0, 119, 255);
    font-size: 25px;
    font-family: serif;
}

p{
    font-size: 18px;
    font-family: serif;
}

h3{
    color: rgb(0, 119, 255);
    font-size: 25px;
    font-family: serif;
}

p{
    font-size: 18px;
    font-family: serif;
}